- if SettingsHelper.feature_on?(:admin_skip_order_forms)
  = f.input :admin_skip_order_form,
    as: :boolean,
    label: false,
    inline_label: Service.human_attribute_name(:admin_skip_order_form),
    hint: t("services.service_fields.sanger.instruct.admin_skip_order_form")

- if current_facility.sanger_sequencing_enabled? && SettingsHelper.feature_on?(:sanger_enabled_service)
  = f.input :sanger_sequencing_enabled,
    as: :boolean,
    label: false,
    inline_label: Service.human_attribute_name(:sanger_sequencing_enabled),
    hint: t("services.service_fields.sanger.instruct.sanger_sequencing_enabled")
