- if current_facility.sanger_sequencing_enabled? && SettingsHelper.feature_on?(:sanger_enabled_service)
  = f.input :sanger_sequencing_enabled,
    as: :boolean,
    label: false,
    inline_label: Service.human_attribute_name(:sanger_sequencing_enabled),
    hint: t("services.service_fields.sanger.instruct.sanger_sequencing_enabled")
