= javascript_include_tag 'qtip2'
:javascript
  // Provide a simple adapter for the require function that fullcalendar needs
  window.require = function(module) {
    if (module === 'moment') return window.moment;
    if (module === 'jquery') return window.jQuery;
  };
= stylesheet_link_tag 'qtip2'
