---
- name: ensure nginx is at the latest version
  yum:
    name: nginx
    state: latest
  notify:
    - Start nginx
    - Enable nginx
  become: yes

- import_tasks: firewalld.yml
- import_tasks: selinux.yml

- name: Ensure nginx sites-available directory is available
  file:
    path: /etc/nginx/sites-available
    state: directory
  become: yes
- name: Ensure nginx sites-enabled directory is available
  file:
    path: /etc/nginx/sites-enabled
    state: directory
  become: yes

- name: Use our nginx.conf file
  copy:
    dest: /etc/nginx/nginx.conf
    src: default_nginx.conf
  notify: Reload nginx
  become: yes

- name: Generate http sites-available
  template:
    dest: /etc/nginx/sites-available/{{ item.host }}
    src: "rails_{{ (item.ssl | default(true)) | ternary('https', 'http') }}.j2"
  with_items: "{{ nginx_apps }}"
  notify: Reload nginx
  when: nginx_apps is defined
  become: yes

- name: Link http sites-available to sites-enabled
  file:
    dest: /etc/nginx/sites-enabled/{{ item.host }}
    src: /etc/nginx/sites-available/{{ item.host }}
    state: link
  notify: Reload nginx
  with_items: "{{ nginx_apps }}"
  when: nginx_apps is defined
  become: yes

- name: Add nginx to app user's group
  user:
    name: nginx
    groups: "{{ item.user }}"
    append: true
  with_items: "{{ nginx_apps }}"
  become: yes

- import_tasks: logrotate.yml
