= render "account_admin_nav"

= form_with(model: @account, url: facility_account_price_groups_path(current_facility, @account)) do |form|
  = form.select :price_groups_relation_ids,
    account_price_groups_select_options, {}, { multiple: true, class: "js--chosen" }
  %div
    = form.submit t(".submit"), class: "btn btn-default"
