= render "account_admin_nav"

= form_with(model: @account, url: facility_account_price_groups_path(current_facility, @account)) do |form|
  = form.collection_select(:price_groups_relation_ids,
    PriceGroup.all.includes(:facility).map(&:presenter), :id, :long_name, {}, { multiple: true, class: "js--chosen" })
  %div
    = form.submit t(".submit"), class: "btn btn-default"
