- include_role:
    name: nickhammond.logrotate
    apply:
      become: true
  with_items: "{{ nginx_apps }}"
  loop_control:
    loop_var: app
  vars:
    logrotate_scripts:
      - name: rails-{{ app.host }}-logs
        path: /home/{{ app.user }}/{{ app.host }}/shared/log/*.log
        options:
          - missingok
          - compress
          - delaycompress
          - notifempty
          - sharedscripts
          - dateext
          - daily
          - copytruncate
          - rotate {{ (app.rails_env == "production") | ternary(30, 7) }}
          - create 666 {{ app.user }} {{ app.group | default(app.user) }}
          - su {{ app.user }} {{ app.group | default(app.user) }}
