- docs = product.stored_files.info
.container
  .row
    - if docs.any?
      .wysiwyg.col-md-8= product.description
      .col-md-4
        .well
          %h3= text("documentation")
          %ul.unstyled
            - docs.each do |stored_file|
              %li.document
                = link_to stored_file.name, product_file_path(stored_file)
    - else
      .wysiwyg.col-md-12= product.description
