#estimate_estimate_details {
  td {
    .error-inline {
      color: $errorText;
      display: block;
      margin-top: 5px;
      font-size: 0.9em;
    }
  }
}

.edit_estimate_button {
  margin-top: 3em;
}
