#estimate_estimate_details {
  td {
    .error-inline {
      color: $state-danger-text;
      display: block;
      margin-top: 5px;
      font-size: 0.9em;
    }
  }
}

.edit_estimate_button {
  margin-top: 3em;
}

.row.form-horizontal,
.row.table-actions {
  margin-left: 0;
  margin-right: 0;
}

.filter-form {
  .form-group {
    margin-left: 0;
    margin-right: 0;
  }
}
