.suspended-account {
  color: red;
  text-transform: uppercase;
}

.account-number-fields-row {
  display: flex;
  align-items: flex-end;
  gap: 10px;

  .field-separator {
    margin-bottom: 6px;
  }
}

.account_number_field {
  flex: 1;
  max-width: 240px;
}

.account-form {
  .form-control {
    max-width: 240px;
  }
}

.js--searchForm {
  .row {
    margin-bottom: 10px;
  }
}
