/*
 header
*/

header {

  .navbar {
    .navbar-header {
      height: $headerContainerHeight;
      float: left;
    }
    
    .navbar-brand {
      font-family: $headerFont;
      text-decoration: none;
      text-shadow: none;
      font-size: 27px;
      color: $headerColor;
      padding: $brandPadding;
      height: $headerContainerHeight;

      &:hover, &:focus {
        color: $headerColor;
      }

      .img__brand {
        height: $imageBrandHeight;
      }

      span {
        vertical-align: middle;
        line-height: 1;
      }
    }
    
    .navbar-toggle {
      .icon-bar {
        background-color: $gray-light;
      }
    }
  }

  .navbar {
    border: none;
    border-bottom: 1px solid $headerBackgroundColorHighLight;
    min-height: $headerContainerHeight;
    margin-bottom: 0;
    border-radius: 0;
  }
  
  .navbar-default {
    @include gradient-vertical($headerBackgroundColorHighLight, $headerBackgroundColor);
  }
  
  .dropdown-toggle {
    @include gradient-vertical($headerBackgroundColorHighLight, $headerBackgroundColor);
  }

  .container {
    position: relative;
    > .navbar-header,
    > .navbar-collapse {
      margin-right: 0;
      margin-left: 0;
    }
  }
  
  .navbar > .container {
    &:before, &:after {
      display: table;
      content: " ";
    }
    &:after {
      clear: both;
    }
  }
  
  // Bootstrap 3 navbar styles
  .navbar-nav {
    margin: 0;
    float: right;
    
    > li {
      float: left;
      
      > a {
        color: $usernavColor !important;
        text-shadow: none;
        padding: 20px 15px;
        line-height: 20px;

        &:hover, &:focus {
          color: $usernavColorHover !important;
          background-color: transparent !important;
        }
      }
      
      &.divider-vertical {
        float: left;
        width: 1px;
        height: $headerContainerHeight;
        margin: 0 9px;
        background-color: $usernavDividerColor;
        padding: 0;
      }
    }
    
    .navbar-text {
      color: $usernavColor;
      margin: 0;
      padding: 20px 15px;
      line-height: 20px;
      float: left;
    }
  }
  
  @media (min-width: 768px) {
    .navbar-right {
      float: right !important;
    }
  }
  
  .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    border-top: 0;
    box-shadow: none;
    float: right;
    
    &.in {
      overflow-y: visible;
    }
  }

  &.account {
    h3 {
      line-height: 1em;
    }
    h3, p {
      margin-bottom: 0;
      margin-top: 0;
    }
    margin-bottom: 1em;
  }
}

