.moveBetweenSelects {
  select {
    height: 20rem;
    width: 80%;
  }

  &__btn:first-child {
    margin-top: 1.5rem;
  }

  .multiSelectReorder__buttons {
    margin-top: 7rem;

    .btn {
      @extend .btn-default;
      margin-bottom: 5px;
    }
  }

  .moveBetweenSelects__btn {
    @extend .btn-default;
    width: 75%;
    display: block;
    margin-bottom: 10px;
  }

  .moveBetweenSelects__buttons {
    text-align: center;
    margin-left: 0;
  }
}
