.datetime-block {
  clear: both;
  .form-group {
    float: left;
    margin-right: 1em;
  }
}

.started-at {
  margin-top: -10px;
  font-style: italic;
}

.time-select {
  display: inline-block;
  select {
    display: inline-block;
    width: auto;
    margin-right: 0.5em;
  }
}

.send-notification {
  margin-bottom: 1em;

  label {
    margin-left: 5px;
  }
}
