td.expired {
  background-color: $state-danger-bg !important;
  color: $state-danger-text;
}

.toggle_expired_btn {
  float: right;
}

.inline {
  .toggle_expired_btn {
    padding-left: 12px;
    padding-right: 12px;
  }
}
