= content_for :h1 do
  = @estimate.facility

%h2= t(".edit", id: @estimate.id)

= render "form", 
  form_url: facility_estimate_path(@estimate.facility, @estimate), 
  form_method: :patch,
  user_collection: [[@estimate.user_display_name, @estimate.user_id]],
  submit_text: t(".update"),
  cancel_url: facility_estimate_path(@estimate.facility, @estimate)
