/*
Fork-specific styling should go in this file. This is included after Bootstrap,
so you will have access to Bootstrap's variables and mixins.

If you need to override a bootstrap variable--for example, $sansFontFamily--you should
do that in bootstrap-variables.scss, since it is included before bootstrap.

Example of this to include here:
  $headerBackgroundColor: #571963;
  $headerColor: white;
*/

$headerBackgroundColor: $primaryColor;
$headerBackgroundColorHighLight: darken($headerBackgroundColor, 2%);
$headerColor: $white;
$navbarActiveBorderColor: $black;
$usernavColor: $white;
$usernavColorHover: $white;
$usernavDividerColor: transparentize($usernavColor, 0.9);
$sidebarActiveBackgroundColor: $primaryColor;
$sidebarActiveBackgroundColorHighlight: lighten($sidebarActiveBackgroundColor, 3%);

@import "umass_corum/application";
