= render "shared/transactions/headers"

- content_for :h1 do
  = t("shared.transactions.reassign_chart_strings.head")

= render "shared/transactions/reassign_chart_strings_form",
  form_url: confirm_transactions_transactions_path,
  cancel_path: movable_transactions_transactions_path
