name: Staging heroku auto deployment

# When this action will be executed
on:
  workflow_run:
    workflows: [ "Run test suite" ]
    branches: [ master ]
    types: [ completed ]

  # Allow manually triggering this workflow by visiting
  # https://github.com/wyeworks/nucore-open/actions/workflows/nucore-heroku-auto-deploy-staging.yml
  # and clicking "Run Workflow"
  workflow_dispatch:

jobs:
  deploy-staging-heroku:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      # As for December 2024, the Heroku CLI is not pre-installed in ubuntu-latest.
      # See https://github.com/AkhileshNS/heroku-deploy/issues/188.
      - name: Install Heroku CLI
        run: |
          curl https://cli-assets.heroku.com/install.sh | sh
      - uses: actions/checkout@v6
      - uses: akhileshns/heroku-deploy@v3.14.15
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "nucore-open"
          heroku_email: "testing+txi@txidigital.com"
